/* ====== BASE ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* removing scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    /* removing range defaults */
    -webkit-appearance: none; /* Safari, Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;         /* Standard */
    background: transparent;
    cursor: pointer;
  }

/*** Works on common browsers ***/
::selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

::-ms-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}
  

/* removing scrollbar */
*::-webkit-scrollbar {
  display: none;
}


::-moz-range-thumb {
  background-color: var(--selection-text);
}

::-ms-thumb  {
  background-color: var(--selection-text);
}


body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-size: var(--default-font-size);
  color: var(--accent-color);
  background: rgb(0, 0, 0);
  overflow-x: hidden;
}  

/* =========== Generic ========== */
:root {
    --online: rgba(134, 255, 123, 0.9);
    --idle: rgba(243, 222, 101, 0.9);
    --dnd: rgba(233, 119, 119, 0.9);
    --offline: rgba(36, 36, 36, 0.925);
    --current: var(--online);
    --additional: rgba(119, 127, 233, 0.548);
    --additional-on: #43caffa6;
    --selection: #5627ff;
    --selection-text: #48ff00;
    --error-text: #ff4444;

    --main-background: #000000;
    --main-background-window: var(--accent-color-darker);
    --main-background-title: var(--accent-color);
    --sepia-percentage: 40%;
    --old-pc-borders: 30px;
    --old-pc-screen-width: 80%;
    --burned-screen-lines-color: #00000063;
    --button-border-color: #0f0f0f;
    --button-background: var(--accent-color-darker);
    --button-hover-background: var(--accent-color);

    --color-panel: #00000077;
    --main-color: #5c7eb1;
    --main-color-darker: #3a5ccc;
    --accent-color: #fc1a1a;
    --accent-color-darker: #6e2020;
    --accent-secondary-color: #998bc0;
    --accent-secondary-color-darker: #825fff;
    --secondary-color: #c99d7a;
    --secondary-color-darker: #f77e46;

    --top-panel-padding: 1rem;
    --top-panel-height: 40px;
    --default-font-size: 18px;
    --home-icons-gap-columns: 40px;
}


@media (max-width: 768px) {
  :root {
    --old-pc-borders: 0px !important;
    --old-pc-screen-width: 100% !important;
  }
}


.checkbox {
  border: 2px solid var(--accent-color) !important;
  border-radius: 50% !important;
  background: transparent !important;
  outline: none;
  display: flex;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background: var(--accent-color) !important;
  outline: none;
}

.button {
  border: 0px solid var(--button-border-color);
  border-radius: 25px;
  color: var(--main-background);
	background: var(--button-background);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
    transform-origin: center center;
    opacity: 0;
    animation: fade 1s forwards;
}

.button:hover {
  background: var(--button-hover-background);
  /* color: var(--accent-secondary-color-darker); */
}

.window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  border: 2px solid var(--main-background-window);
  user-select: none;
}

.titlebar {
  background: var(--main-background-title);
  cursor: move;
  padding: 5px;
  user-select: none;
  /* z-index: 999999; */
}

/* ====== PC BACK ====== */
.pc {
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  filter: sepia(var(--sepia-percentage));

  width: 80%;
  align-self: center;
  justify-self: center;
  border-radius: var(--old-pc-borders);

  inset: 0;
  background: linear-gradient(
    rgba(10, 0, 25, 0.4),
    rgba(10, 0, 25, 0.5) 70%,
    rgb(32, 27, 37)
  );

  z-index: -1;
}

.home-grid {
  display: flex;
  position: absolute;
  top: calc(2 * var(--top-panel-height));
  gap: var(--home-icons-gap-columns);
  left: 0px;
  padding-left: calc(2 * var(--top-panel-padding));
  padding-right: calc(2 * var(--top-panel-padding));
  flex-wrap: wrap;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

#boot-background {
  object-fit: cover;
  z-index: 101;
}

@media (min-width: 1440px) {
  #boot-background {
    object-fit: fill !important;
  }
}

#pc-background {
  width: 100%;
  height: 100%;
}

.terminal-logo {
  position: absolute;
  right: 12vw;
  top: 18vh;
}

.burntout-layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  background: linear-gradient(
    rgba(25, 16, 0, 0.4),
    rgba(25, 19, 0, 0.507) 70%,
    rgba(37, 32, 27, 0.7)
  );
  z-index: 100;
  pointer-events: none;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      transparent 14px,
      var(--burned-screen-lines-color) 20px
    );
    pointer-events: none;
    
  }
}

.startup-terminal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.432);
  width: 100%;
  height: 100%;
  padding-top: 16vh;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 12vh;
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: start;
  opacity: 0;
  animation: fade 0.3s forwards;
  display: grid;

  p {
    color: rgb(255, 211, 129);
    animation: fade 0.3s forwards;
  }

  .footer {
    position: absolute;
    bottom: 15vh;
    left: 10.5vw;
    justify-items: start;
    align-items: start;
    padding: 20px;
  }

  .footer p {
    color: #727272 !important;
  }
}

@media (max-width: 768px) {
  .pc {
    width: 100%;
  }

  .startup-terminal {
    padding: 40px !important;

    p {
      font-size: small;
    }
  }
}

/* ====== Top bar ====== */

.top-panel {
  display: flex;
  position: fixed;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: var(--top-panel-height);
  border: #ffffff;
  background-color: var(--color-panel);
  padding-left: var(--top-panel-padding);
  padding-right: var(--top-panel-padding);
  /* This is for the Macintosh Vibe but im not feelin it idk */
  /* border-color: #1f1f1f; */
  /* border-radius: 20px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  /* margin-top:5px; */

  .top-item {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 40px;
  }

  .top-text {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.top-item.left-corner-item {
  justify-content: left;
  align-content: flex-start;
}

.top-item.right-corner-item {
  justify-content: right;
  align-content: flex-end;
}

.volume-scroll-topbar {
  display: flex;
  position: absolute;
  top: 3rem;
  right: 5rem;
  /* border: 4px solid var(--selection); */
  border-radius: 20px;
  padding: 5px;
  background-color: var(--color-panel);
  width: 8rem;
  height: 2rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  opacity: 0;
  animation: fade 0.5s forwards;

  .scroll-meter {
    position: absolute;
    pointer-events: none;
    border: 3px solid var(--selection);
    border-radius: 50px;
    color: var(--selection-text);
    width: 80%;
  }

  input {
    color: var(--accent-color);
    accent-color: var(--selection-text);
    width: 80%;
    height: 80%;
    display: flex;
    z-index: 1;
  }
}