/* ====== BASE ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/*** Works on common browsers ***/
::selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

::-ms-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--selection);
  color: var(--selection-text);
}
  
*::-webkit-scrollbar {
  display: none;
}

  body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-size: var(--default-font-size);
    color: var(--accent-color);
    background: rgb(0, 0, 0);
    overflow-x: hidden;
  }  

/* =========== AVATAR ========== */
:root {
    --online: rgba(134, 255, 123, 0.9);
    --idle: rgba(243, 222, 101, 0.9);
    --dnd: rgba(233, 119, 119, 0.9);
    --offline: rgba(36, 36, 36, 0.925);
    --current: var(--online);
    --additional: rgba(119, 127, 233, 0.548);
    --additional-on: #43caffa6;
    --selection: #5627ff;
    --selection-text: #48ff00;

    --main-background: #000000;
    --sepia-percentage: 40%;
    --old-pc-borders: 30px;
    --burned-screen-lines-color: #00000063;
    --button-border-color: #0f0f0f;
    --button-background: var(--accent-color-darker);
    --button-hover-background: var(--accent-color);

    --color-panel: #00000077;
    --main-color: #5c7eb1;
    --main-color-darker: #3a5ccc;
    --accent-color: #fc1a1a;
    --accent-color-darker: #6e2020;
    --accent-secondary-color: #998bc0;
    --accent-secondary-color-darker: #825fff;
    --secondary-color: #c99d7a;
    --secondary-color-darker: #f77e46;

    --top-panel-padding: 1rem;
    --default-font-size: 18px;
}

/* ====== PC BACK ====== */
.pc {
  position: absolute;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  filter: sepia(var(--sepia-percentage));

  width: 80%;
  align-self: center;
  justify-self: center;
  border-radius: var(--old-pc-borders);

  inset: 0;
  background: linear-gradient(
    rgba(10, 0, 25, 0.4),
    rgba(10, 0, 25, 0.5) 70%,
    rgb(32, 27, 37)
  );

  z-index: -1;
}


.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  align-self: center;
  background: linear-gradient(
    rgba(25, 16, 0, 0.4),
    rgba(25, 19, 0, 0.7) 70%,
    rgb(37, 32, 27)
  );
  z-index: 100;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      transparent 18px,
      var(--burned-screen-lines-color) 20px
    );
    pointer-events: none;
    
  }
}

.top-panel {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 40px;
  border: #ffffff;
  background-color: var(--color-panel);
  padding-left: var(--top-panel-padding);
  padding-right: var(--top-panel-padding);
  /* This is for the Macintosh Vibe but im not feelin it idk */
  /* border-color: #1f1f1f; */
  /* border-radius: 20px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  /* margin-top:5px; */
}

.top-panel .top-item {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 40px;
}

.top-panel .top-item.left-corner-item {
  justify-content: left;
  align-content: flex-start;
}

.top-panel .top-item.right-corner-item {
  justify-content: right;
  align-content: flex-end;
}

.top-panel .top-text {
  display: flex;
  align-items: center;
  align-content: center;
}

.checkbox {
  border: 2px solid var(--accent-color) !important;
  border-radius: 50% !important;
  background: transparent !important;
  outline: none;
  display: flex;
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background: var(--accent-color) !important;
  outline: none;
}

.button {
  border: 0px solid var(--button-border-color);
  border-radius: 25px;
  color: var(--main-background);
	background: var(--button-background);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
    transform-origin: center center;
    opacity: 0;
    animation: fade 1s forwards;
}

.button:hover {
  background: var(--button-hover-background);
  /* color: var(--accent-secondary-color-darker); */
}