
.tabs.is-boxed a {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.box {
    --bulma-box-background-color: rgba(17, 17, 17, 0.733);
}

.hero-body {
    align-self: center;
}

#preview-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover !important;
    filter:opacity(0.2);
    display: none;
    z-index: -2;
}

#preview-vid-muted {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover !important;
    filter:opacity(0.2);
    display: block;
    z-index: -1;
}

#play-music-button {
    color: #ffffffcc;
}

.is-playing-music {
    transition: background .3s ease-in-out;
    animation: pulse 1.5s infinite;
    color: #4eff65cc !important;
}

.no-margin {
    margin: 0px !important;
}